@media (min-width: 0px) and (max-width: 667px) {
  .App {
    color: black;
  }

  .alertIcon {
    height: 30px;
  }
  .alertInfo {
    font-size: medium;
  }
  .moonphaseImg {
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .aqi1 {
    padding: 0px;
    margin: 0px;
    display: block;
    font-size: medium;
    background-color: #ad8b73;
    border-radius: 5px;
  }
  h4 {
    font-size: x-large;
  }
  .aqiInfo {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
  }
}

/* =============TABLET========== */
@media (min-width: 668px) and (max-width: 900px) {
  .App {
    color: black;
  }


  .alertIcon {
    height: 30px;
  }
  .alertInfo {
    font-size: medium;
  }
  .moonphaseImg {
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .aqi1 {
    display: block;
    font-size: medium;
    background-color: #ad8b73;
    border-radius: 5px;
  }
  h4 {
    font-size: x-large;
  }
  .aqiInfo {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
  }
}

@media (min-width: 901px) {
  .App {
    /* background-color: gray; */
    color: black;
  }

  .alertIcon {
    height: 30px;
  }
  h4 {
    font-size: x-large;
  }
  .alertInfo {
    width: 100%;
    height: 25px;
    font-size: 20px;
  }
  .moonphaseImg {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .alertMessage {
    width: 50%;
    font-size: 20px;
    /* margin-left: 10%; */
  }
  .alertImg {
    width: 50%;
    font-size: 20px;
    /* margin-right: 10%; */
  }
  .alert {
    display: flex;
    font-size: 20px;
    /* margin: 10px; */
  }
  .aqi1 {
    display: block;
    font-size: larger;
    font-size: 20px;
    background-color: #ad8b73;
    border-radius: 5px;
  }
  .aqiInfo {
    font-size: 20px;
  }
}
