/* ==============MOBILE============= */
@media (min-width: 0px) and (max-width: 450px) {
  .main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .dskMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .locationTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ad8b73;
    color: #fffbe9;
    font-weight: bold;
    border-radius: 3px;
  }

  .locationTime > * {
    margin-inline: 1em;
  }

  @font-face {
    font-family: "digital-7";
    src: url("../assets/fonts/digital-7.ttf");
  }
  .current-time {
    font-family: digital-7;
    font-size: 1em;
    font-weight: bold;
    background-color: burlywood;
    color: aliceblue;
    width: fit-content;
    padding: 0.25em;
    border: solid 2px grey;
    border-radius: 5px;
  }

  .wdInfo {
    display: flex;
    justify-content: center;
    margin: 1em 0px;
    text-align: right;
    padding: 4em 1em;
    background-color: #fffbe9;
    border-radius: 10px;
  }

  h1.wdTemperature {
    margin: 0;
  }

  .wdIcon {
    height: 150px;
    width: 150px;
  }

  .wdSubInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .forecast-carousel {
    display: flex;
    width: 100%;
    margin-inline: auto;
    overflow-x: scroll;
  }

  .forecast-hour {
    border: solid #ad8b73;
    margin: 0.5em;
    padding: 0.25em 1em;
    border-radius: 1em;
    background-color: #fffbe9;
  }

  .forecast-hour * {
    margin: 0;
  }

  .carousel-icon {
    height: 2em;
  }

  .carousel-temp {
    font-size: small;
  }

  .forecastday {
    display: flex;
    margin: 1em auto;
    padding: 0.5em;
    overflow-x: scroll;
    max-width: 90%;
  }

  .forecast-daily {
    border: solid rgb(165, 165, 97);
    margin: 2px 8px;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: #fffbe9;
  }

  .forecast-daily * {
    margin: 0;
  }

  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid #ad8b73;
    padding-top: 1em;
  }

  .nav-icon {
    height: 2em;
  }

  .search-bar {
    border: solid thin grey;
    width: fit-content;
    padding: 0;
    height: 3em;
    border-radius: 1em;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forecast-daily {
    border: solid rgb(165, 165, 97);
    margin: 2px 8px;
    padding: 0.5em 1em;
    border-radius: 1em;
  }

  .forecast-daily * {
    margin: 0;
  }

  .search-bar-form {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .search-bar-input {
    height: 100%;
    width: 150px;
    font-size: 1em;
    background: transparent;
    border: none;
    border-radius: 1em 0 0 1em;
  }

  .submit-button {
    height: 100%;
    background: transparent;
    border: none;
  }

  .dskMainRight {
    display: none;
  }
}

/* =============TABLET========== */
@media (min-width: 451px) and (max-width: 900px) {
  .App {
    /* background-color: aqua; */
  }

  .main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    justify-content: space-between;
  }

  .dskMain > * {
    /* border: solid red; */
  }

  .dskMain {
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    justify-content: space-between;
  }

  .locationTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
  }

  .locationTime > * {
    /* border: solid green; */
    margin-inline: 1em;
  }

  @font-face {
    font-family: "digital-7";
    src: url("../assets/fonts/digital-7.ttf");
  }
  .current-time {
    font-family: digital-7;
    font-size: 1em;
    font-weight: bold;
    background-color: burlywood;
    color: aliceblue;
    width: fit-content;
    padding: 0.25em;
    border: solid 2px grey;
    border-radius: 5px;
  }

  .wdInfo {
    display: flex;
    justify-content: center;
    /* border: solid thin red; */
    margin: 1em 0px;
    text-align: right;
    padding: 4em 1em;
  }

  h1.wdTemperature {
    margin: 0;
  }

  .wdIcon {
    height: 150px;
    width: 150px;
  }

  .wdSubInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .forecast-carousel {
    display: flex;
    width: 80vw;
    margin-inline: auto;
    overflow-x: scroll;
  }

  .forecast-hour {
    border: solid grey;
    margin: 0.5em;
    padding: 0.25em 1em;
    border-radius: 1em;
  }

  .forecast-hour * {
    margin: 0;
  }

  .carousel-icon {
    height: 2em;
  }

  .carousel-temp {
    font-size: small;
  }

  .forecastday {
    /* border: solid grey; */
    display: flex;
    margin: 1em auto;
    padding: 0.5em;
    overflow-x: scroll;
    max-width: 90%;
  }

  .forecast-daily {
    border: solid rgb(165, 165, 97);
    margin: 2px 8px;
    /* width: fit-content; */
    /* height: fit-content; */
    padding: 0.5em 1em;
    border-radius: 1em;
  }

  .forecast-daily * {
    margin: 0;
  }

  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-bar > * {
    /* border: solid purple; */
  }

  .nav-icon {
    height: 2em;
  }

  .search-bar {
    border: solid thin grey;
    width: fit-content;
    padding: 0;
    /* margin: 1em auto; */
    height: 3em;
    border-radius: 1em;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forecast-daily {
    border: solid rgb(165, 165, 97);
    margin: 2px 8px;
    padding: 0.5em 1em;
    border-radius: 1em;
  }

  .forecast-daily * {
    margin: 0;
  }

  .search-bar-form {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .search-bar-input {
    height: 100%;
    width: 150px;
    font-size: 1em;
    background: transparent;
    border: none;
    border-radius: 1em 0 0 1em;
  }

  .submit-button {
    height: 100%;
    background: transparent;
    border: none;
  }

  .dskMainRight {
    display: none;
  }
}

/* ===================DESKTOP=============== */
@media (min-width: 901px) {
  .main-page {
    display: flex;
    width: 100%;
    display: flex;
    /* border: solid black; */
    justify-content: space-between;
  }

  .dskMain > * {
    /* border: solid red; */
  }

  .dskMain {
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    justify-content: space-between;
    width: 50%;
  }

  .locationTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
  }

  .locationTime > * {
    /* border: solid green; */
    margin-inline: 1em;
  }

  @font-face {
    font-family: "digital-7";
    src: url("../assets/fonts/digital-7.ttf");
  }
  .current-time {
    font-family: digital-7;
    font-size: 1em;
    font-weight: bold;
    background-color: burlywood;
    color: aliceblue;
    width: fit-content;
    padding: 0.25em;
    border: solid 2px grey;
    border-radius: 5px;
  }

  .wdInfo {
    display: flex;
    justify-content: center;
    /* border: solid thin red; */
    margin: 1em 0px;
    text-align: right;
    padding: 4em 1em;
  }

  h1.wdTemperature {
    margin: 0;
  }

  .wdIcon {
    height: 150px;
    width: 150px;
  }

  .wdSubInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .forecast-carousel {
    display: flex;
    width: 100%;
    margin-inline: auto;
    overflow-x: scroll;
  }

  .forecast-hour {
    border: solid grey;
    margin: 0.5em;
    padding: 0.25em 1em;
    border-radius: 1em;
  }

  .forecast-hour * {
    margin: 0;
  }

  .carousel-icon {
    height: 2em;
  }

  .carousel-temp {
    font-size: small;
  }

  .forecastday {
    /* border: solid grey; */
    display: flex;
    margin: 1em auto;
    padding: 0.5em;
    overflow-x: scroll;
    max-width: 90%;
  }

  .forecast-daily {
    border: solid rgb(165, 165, 97);
    margin: 2px 8px;
    /* width: fit-content; */
    /* height: fit-content; */
    padding: 0.5em 1em;
    border-radius: 1em;
  }

  .forecast-daily * {
    margin: 0;
  }

  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-bar > * {
    /* border: solid purple; */
  }

  .nav-icon {
    height: 2em;
  }

  .search-bar {
    border: solid thin grey;
    width: fit-content;
    padding: 0;
    /* margin: 1em auto; */
    height: 3em;
    border-radius: 1em;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forecast-daily {
    border: solid rgb(165, 165, 97);
    margin: 2px 8px;
    padding: 0.5em 1em;
    border-radius: 1em;
  }

  .forecast-daily * {
    margin: 0;
  }

  .search-bar-form {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .search-bar-input {
    height: 100%;
    width: 150px;
    font-size: 1em;
    background: transparent;
    border: none;
    border-radius: 1em 0 0 1em;
  }

  .submit-button {
    height: 100%;
    background: transparent;
    border: none;
  }

  .dskMainRight {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid black;
  }
  .uv {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-content: center;
    /* height: 487px; */
    /* width: 300px; */
  }
  .uvInfo {
    height: 200px;
  }
  .weatherGif {
    border-radius: 20px;
    height: 200px;
  }
}

/* =====================GENERIC CSS ========================= */
.locationTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ad8b73;
  color: #fffbe9;
  font-weight: bold;
  border-radius: 3px;
}

.locationTime > * {
  margin-inline: 1em;
}

@font-face {
  font-family: "digital-7";
  src: url("../assets/fonts/digital-7.ttf");
}
.current-time {
  font-family: digital-7;
  font-size: 1em;
  font-weight: bold;
  color: #fffbe9;
  width: fit-content;
  padding: 0.25em;
}

.wdInfo {
  display: flex;
  justify-content: center;
  margin: 1em 0px;
  text-align: right;
  padding: 4em 1em;
  background-color: #fffbe9;
  border-radius: 10px;
}

.nav-icon {
  border-radius: 5px;
}

.forecast-hour {
  border: solid #ad8b73;
  margin: 0.5em;
  padding: 0.25em 1em;
  border-radius: 1em;
  background-color: #fffbe9;
}

.forecast-daily {
  border: solid rgb(165, 165, 97);
  margin: 2px 8px;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: #fffbe9;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid #ad8b73;
  padding-top: 1em;
}
