.App {
  text-align: center;
}

.forecast-carousel {
  display: flex;
  width: 80vw;
  border: solid grey;
  margin-inline: auto;
  overflow-x: scroll;
}
.wdInfo{
  display:flex;
  justify-content: center;
}
.wdIcon{
  height:150px;
  width:150px;
}
.wdSubInfo{
  display:flex;
  flex-direction:column;
  justify-content: center;
}