.App {
  text-align: center;
}

.forecast-carousel {
  display: flex;
  width: 80vw;
  border: solid grey;
  margin-inline: auto;
  overflow-x: scroll;
}
.wdInfo{
  display:flex;
  justify-content: center;
}
.wdIcon{
  height:150px;
  width:150px;
}
.wdSubInfo{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.forecastday{
  border: solid grey;
  display: flex;
  width: 80vw;
  margin-inline: auto;
  height: 230px;
 
}
.forecast-daily{
  border:  solid rgb(165, 165, 97);
  margin: 8px;
  width: 98px;
}
.locationTime{
  display:flex;
  justify-content: space-around;
 }
.aqi1{
  border: solid black;
  display: block;
  
}
.aqiInfo{
  border: solid gray;
}