.App {
  text-align: center;
  border: solid black;
  padding: 2em;
  background-color: #e3f4fe;
  color: black;
}

.forecast-carousel {
  display: flex;
  width: 80vw;
  /* border: solid grey; */
  margin-inline: auto;
  overflow-x: scroll;
}

.wdInfo {
  display: flex;
  justify-content: center;
  /* border: solid thin red; */
  margin: 1em 0px;
  text-align: right;
}

h1.wdTemperature {
  margin: 0;
}

.wdIcon {
  height: 150px;
  width: 150px;
}
.wdSubInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forecast-hour {
  border: solid grey;
  margin: 0.5em;
  padding: 0.25em 1em;
  border-radius: 1em;
}

.forecast-hour * {
  margin: 0;
}

.forecastday {
  /* border: solid grey; */
  display: flex;
  margin: 1em auto;
  padding: 0.5em;
  overflow-x: scroll;
}

.forecast-daily {
  border: solid rgb(165, 165, 97);
  margin: 2px 8px;
  /* width: fit-content; */
  /* height: fit-content; */
  padding: 0.5em 1em;
  border-radius: 1em;
}
.forecast-daily * {
  margin: 0;
}

.locationTime {
  justify-content: space-around;

 }
.aqi1{
  border: solid black;
  display: block;
  
}
.aqiInfo{
  border: solid gray;

  border: solid blue;
}

.search-bar {
  border: solid thin grey;
  width: fit-content;
  padding: 0;
  margin: 1em auto;
  height: 3em;
  border-radius: 1em;
  background-color: aliceblue;
}
.search-bar-form {
  height: 100%;
}

.submit-button {
  height: 100%;
  /* width: 1fr; */
  font-size: 1.2em;
  background: transparent;
  border: none;
}

.search-icon {
  height: 60%
}

.search-bar-input {
  height: 100%;
  width: 200px;
  font-size: 1.2em;
  background: transparent;
  border: none;
  border-radius: 1em 0 0 1em;
}
.alertIcon{
  height:25px;
}
.moonphaseImg{
  height:200px;

}